{% load static %}
<html lang="en" dir="ltr">
  <head>
    <title></title>
    {% include 'cdnlines.html' %}
    <link  href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    <script type="text/javascript">
     $(documnet).ready(function(event){
       $('.reply-btn').click(function(){
         $(this).parent().parent().next('.replaied-comments').fadeToggle()
       });
     });
    </script>
  </body>
</html>
